
.block-title {
    display: block; 
    position: relative; 
    font-weight: 400; 
    padding: .5625rem 0; 
    margin: 1.125rem auto; 
    clear: both; 
    text-align: left; 
    text-transform: uppercase; 
    width: 100%; 
    max-width: 1280px; 
    line-height: 1em;  
    opacity: .7;
    font-size: 40px;
    color: white;
}

.event {
    display: flex;
    flex-direction: row;
    border-style: solid;
    font-size: 20px;
    padding: 40px 15px 30px 160px;
    color: white;
    border-bottom: 1px solid red;
    border-top: .5px solid red;
    border-left: none;
    border-right: none;
    width: 70%;


}

.location .venue {
    font-size: 45px;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: .3px;
  
}
.location {
    text-transform: uppercase;
}
.venue {
    color: #6d6d6d;
}

.details {
    display: block;
    padding: 0px 10px 10px 60px;
}
.date {
    padding: -11px;
    text-transform: uppercase;
}
body {

    background-color: rgb(51, 50, 50);
}
img {
    max-width: 200px;
    border-radius: 25%;
}
