body {

    background-color: rgb(51, 50, 50);
}
img {
    max-width: 200px;
    border-radius: 25%;
}
.image-bg-fixed-height {
    background: url('./bandpic.png') no-repeat center center scroll;
    height: 450px;
}

.img-center {
    margin: 0 auto;
}
